* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    text-align: center;

    main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        .selection {
            ul {
                justify-content: center;
                align-items: center;
                gap: 100px;

                li {
                    width: 300px;
                    transition: transform 0.3s
                }

                li:hover {
                    transform: rotate(360deg);
                }
            }

        }

        .results {
            background-color: lightgray;
            margin-top: 100px;
            flex-grow: 1;
            .container {
                justify-content: center;
                gap: 100px;
            }
        }

    }
}



li {
    list-style-type: none;
}

img {
    width: 100%;
}

.spacing {
    margin-top: 20px;
}

.spacing-game {
    margin-top: 100px;
}

.container {
    display: flex;
}

.play-again {
    display: none;
}

